<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"  
	xmlns:mvc="http://www.springframework.org/schema/mvc"  
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.2.xsd
	http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

	<!-- 解析返回JSON (后台返回json格式到前台要配置这个内容) 同时也需要加 jackson-xxx-2.9.4  的三个jar包(最好用新版本的jar包)-->
    <!--  <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"> -->
<!-- 	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list >
				<ref bean="mappingJacksonHttpMessageConverter" />
			</list>
		</property>
	</bean>
	<bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/json;charset=UTF-8</value>
			</list>
		</property>
	</bean> -->

	<!-- 自动扫描controller包下的所有类，使其认为spring mvc的控制器 -->
	<context:component-scan base-package="com.yr" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/> 
	</context:component-scan>
	
	<!-- 对模型视图名称的解析，即在模型视图名称添加前后缀 -->
	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	   <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
	   <!-- 配置结果视图的前缀和后缀 ，页面路径默认在webContent下-->
	   <property name="prefix" value="/WEB-INF/admin/"/>
	   <property name="suffix" value=".jsp"/>
    </bean>
    
    <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
    <!-- AOP式方法级权限检查,开启Shiro的注解(如@RequiresRoles,@RequiresPermissions),需借助SpringAOP扫描使用Shiro注解的类,并在必要时进行安全逻辑验证 -->    
    <!-- <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor"/> -->
    <!-- <aop:config proxy-target-class="true"></aop:config> -->  
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor">
        <property name="proxyTargetClass" value="true"/>
    </bean>
    <!-- 开启shiro注解支持 -->
    <bean
        class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager" />
    </bean>
    
    <!--自定义拦截器 -->
   <!--  <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            不拦截指定路径
            <mvc:exclude-mapping path="/log/loginYan"/>
            <mvc:exclude-mapping path="/log/zhux"/>
            <mvc:exclude-mapping path="/log/add"/>
            <mvc:exclude-mapping path="/**/*.css"/>
            <mvc:exclude-mapping path="/**/*.js"/>
            <mvc:exclude-mapping path="/**/*.png"/>
            <mvc:exclude-mapping path="/**/*.json"/>
            <mvc:exclude-mapping path="/**/*.jpg"/>
            <mvc:exclude-mapping path="/**/*.gif"/>
            <bean class="com.yr.util.Lanjieqi"></bean>
        </mvc:interceptor>
    </mvc:interceptors> -->
	
    <!-- 处理静态资源 -->
    <bean id="viewMappings" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping" >
		<property name="defaultHandler">  
			<bean name="index" class="org.springframework.web.servlet.mvc.UrlFilenameViewController" />  
	    </property>   
	</bean>
	<mvc:view-controller path="/WEB-INF/admin/index"  view-name="/index"/>
	<mvc:view-controller path="/WEB-INF/admin/login"  view-name="/login"/>
	<!-- <mvc:view-controller path="/WEB-INF/admin/user/userList"  view-name="/userList"/>
	<mvc:view-controller path="/WEB-INF/admin/role/roleList"  view-name="/roleList"/>
	<mvc:view-controller path="/WEB-INF/admin/auth/authList"  view-name="/authList"/>
	<mvc:view-controller path="/WEB-INF/admin/student/studentList"  view-name="/studentList"/>
	<mvc:view-controller path="/WEB-INF/admin/teacher/teacherList"  view-name="/teacherList"/>
	<mvc:view-controller path="/WEB-INF/admin/curriculum/curriculumList"  view-name="/curriculumList"/> -->
	
	<mvc:resources location="/WEB-INF/admin/css/" mapping="/css/**"/>
	<mvc:resources location="/WEB-INF/admin/js/" mapping="/js/**"/>
	<mvc:resources location="/WEB-INF/admin/json/" mapping="/json/**"/>
	<mvc:resources location="/WEB-INF/admin/images/" mapping="/images/**"/>
    <mvc:resources location="/layui/" mapping="/layui/**"/>
	<mvc:annotation-driven/>
	<mvc:default-servlet-handler/>
	
</beans>
